[run]
branch = True
omit =
     Interfaces/API/NewInterface/Tests/LocalTestObjects.py
     */Tests/*

[report]
omit =
     Interfaces/API/NewInterface/Tests/LocalTestObjects.py
     *Test_*.py
     *tests/*
     *Tests/*
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.: