*.pyc
*.pyo
Interfaces/API/NewInterface/Tests/tests.rep
Doc/*.html
Doc/epydoc*
Doc/api-objects.txt
Doc/crarr.png
.coverage
cover
htmlcov
docs/source/DOC
docs/DOC
docs/build
docs/source/releasehistory.rst
docs/source/releasenotes.rst
.pytest_cache/